*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
font-family: "Roboto", sans-serif;
--primary-text-color: #434455;
--white: #ffffff;
--logo-color:#4D5AE5;
--lilac: #404bbf;
--logo-color-second: #2e2f42;
--white-second: #f4f4fd;
--cornflower: #E7E9FC;
}


p, h1,h2,h3,h4,h5,h6 {
margin-top: 0;
margin-bottom: 0;
}
ul, ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
img {
    display: block;
}

body {
font-family:"Roboto", sans-serif;
color: var(--primary-text-color);
background-color: #ffffff;
}


.link {
    text-decoration: none;
}

.list {
    list-style: none;
}


/**______index.html______**/

/**_____HEADER____**/

.header-container {
    display: flex;
    width: 100%;
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
    }



.header {
    display: flex;
    border-bottom: 1px solid #e7e9fc;
    background: var(--white, #FFF);
    padding: 0 15px;
}
.header-logo {
    color: var(--logo-color);
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 76px;
}

.link {
    text-decoration: none;
}

.header-logo-accent {
    color: var(--logo-color-second);
}

.link {
    text-decoration: none;
}


/**__menu__**/


.header-nav {
    display: flex;
    align-items: center;
}
.menu-list {
    display: flex;
    gap: 40px;
}

.header-list {
    padding: 24px 0;
}

.header-address {
        display: flex;
    gap: 40px;
}


.menu-link {
    color: var(--logo-color-second);
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    padding: 24px 0;
}

.menu-link:hover {
    color: var(--lilac);
}
.menu-link:focus {
    color: var(--lilac);
}

.contacts-link {
    display: block;
    padding: 24px 0;
}

.contacts {
    font-style: normal;
    margin-left: auto;
}

.contacts-link {
    color: var(--primary-text-color);
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.contacts-link:hover {
    color: var(--lilac);
}

.contacts-link:focus {
    color: var(--lilac);
}

/**_____Section1____**/

.container {
    width: 100%;
    max-width: 1158px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
    padding: 0 15px;
}
.advantages-section-list {
    padding: 188px 0;
    background: var(--logo-color-second);
}
.head-text {
    color: var(--white);
    text-align: center;
    font-size: 56px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 1.12px;
    display: block;
        max-width: 496px;
    margin: 0 auto;
     margin-bottom: 48px;
}

.head-btn {
    color: var(--white);
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.64px;
    background: var(--logo-color);
    cursor: pointer;
    min-width: 169px;
    border: 0;
    border-radius: 4px;
    padding: 16px 32px;
    display: block;
    margin: 0 auto;
}
.head-btn:hover {
    background-color: var(--lilac);
}
.head-btn:focus {
    background-color: var(--lilac);
}


/**_____Section2_____**/

.advant-section-list {
    background: var(--white);
    padding: 120px 0;
}

.advantages-list {
    display: flex;
    gap: 24px;
}
.advantages-item {
width: calc((100% - 72px) / 4);
}

.advant-title {
    color: var(--primary-text-color);
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.advant-subtitle {
    color: var(--primary-text-color);
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: flex;
    width: 264px;
    flex-direction: column;
}


/**_____Section3____**/


.section-list {
    padding-bottom: 120px;
    background-color:var(--white);
}

.section-title {
    color: var(--primary-text-color);
    text-align: center;
    font-size: 36px;
    margin-bottom: 72px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}
.advantages-list {
    display: flex;

}
.advantages-item {
    width: calc((100% - 48px) / 3);
    gap: 24px;
}

/**____Section4____**/


.section-four-list {
    background: var(--cloud, #F4F4FD);
    padding: 120px 0;
}
.team-title {
    color: var(--logo-color-second);
    text-align: center;
    font-size: 36px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    margin-bottom: 72px;
}
.team-list-ul {
display: flex;
gap: 24px;
}
.team-list {
    width: calc((100% - 72px) / 4);
    background-color: var(--white);
    border-radius: 0px 0px 4px 4px;
}
.card-text {
    border-radius: 0px 0px 4px 4px;
    display: block;
    background: var(--white, #FFF);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    padding: 32px 0;
}

.team-subtitle {
    color: var(--primary-text-color);
    text-align: center;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.team-p {
    color: var(--primary-text-color);
    text-align: center;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/**_____FOOTER_____**/

.footer {
    background: var(--logo-color-second);
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-logo {
    color: var(--logo-color);
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 16px;
}

.footer-logo-accent {
    justify-content: center;
    color: #f4f4fd;
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    display: inline-flex;
}

.footer-content {
    color: var(--cloud, #F4F4FD);
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    line-height: 24px;
    letter-spacing: 0.32px;
    width: 268px;
}

/**_____PORTFOLIO.HTML____**/


/**_____HEADER_____**/

.header-list {
    padding: 24px 0;
}

/**____SECTION___**/


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

img {
    display: block;
}

.portfolio-imges {
    list-style: none;
    background-color: #fff;
}

.portfolio-buttons {
    padding-top: 96px;
    padding-bottom: 120px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
}

.partfolio-btn {
    color: #4D5AE5;
    text-align: center;
    font-size: 16px;
    font-family: "Roboto",sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border-radius: 4px;
    background: #f4f4fd;
    cursor: pointer;
    padding: 12px 24px;
    border: 1px solid #e7e9fc;
    border-radius: 4px;
}
.partfolio-btn:hover {
    color: #ffffff;
    background-color: #404BBF;
    border: 1px solid transparent;
}
.partfolio-btn:focus {
    color: #ffffff;
    background-color: #404BBF;
    border: 1px solid transparent;
}

.partfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.partfolio-item {
    width: calc((100% - 48px) / 3);
    flex-wrap: wrap;
    gap: 24px;
}

.partfolio-item link {
    text-decoration: none;
}

.partfolio-title {
    color: var(--logo-color-second);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.partfolio-subtitle {
    color: var(--primary-text-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.portfolio-card {
    display: flex;
    width: 360px;
    padding: 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    width: 0 32px;
    padding: 32px 16px;
    flex-shrink: 0;
    border: 1px solid var(--cornflower);
    background: var(--white, #FFF);
    border-top: none;
}

/**____PARTFOLIO___FOOTER______**/

.partfolio-footer {
    background: var(--logo-color-second);
        padding-top: 100px;
        padding-bottom: 100px;
}

.partfolio-footer-logo {
    color: var(--logo-color);
        font-size: 18px;
        font-family: "Raleway", sans-serif;
        font-style: normal;
        font-weight: 800;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        text-decoration: none;
        display: inline-flex;
        margin-bottom: 16px;
}

.partfolio-footer-logo-accent {
    justify-content: center;
    color: #f4f4fd;
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.partfolio-footer-content {
    color: var(--cloud, #F4F4FD);
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
    padding-top: 16px;
    width: 268px;
}